<%- include('header'); -%>

<body>
    
      <hr>
      <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center sticky-top">
        <ul class="navbar-nav justify-content-center">
            <li class="nav-item"><a href="/" class="nav-link ">Home</a></li>
            <li class="nav-item"><a href="/gallery" class="nav-link">Gallery</a></li>
            <li class="nav-item"><a href="/guide" class="nav-link">Commission Guide</a></li>
            <li class="nav-item"><a href="/price" class="nav-link">Commission Price</a></li>
            <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
          </ul>
     </nav>


      <hr>

      <div class="container">
        <div class="gallery-text-box">
          <p>Welcome to my gallery! Here, you'll find a collection of my anime-style art pieces. 
            Each work is a reflection of my passion for art, with a focus on character emotions and storytelling.
            Feel free to explore, and click on any image to view it in full size. Thank you for your support!</p>
        </div>
      </div>

    <h2 class="text-center"> Bust Up Commisssions</h2>
    <div class="container">
      <div class="gallery-text-box">
        <p> These are examples of bustup  comissions I have done. </p>
        <p> Standard size: 2000px x 2000px</p>
      </div>
    </div>
   
    <!-- Gallery Section -->
    <div class="container gallery-container py-5">
      <div class="row g-4">
        <!-- Image 1 -->
        <div class="col-md-4 gallery-item">
          <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal1">
            <img src="images/art1.jpg" class="img-fluid" alt="Bust up head shot art 1 by Qingzi">
          </a>
        </div>

        <!-- Image 2 -->
        <div class="col-md-4 gallery-item">
          <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal2">
            <img src="images/art2.jpg" class="img-fluid" alt="Bust up head shot art 2 by Qingzi">
          </a>
        </div>

        <!-- Image 3 -->
        <div class="col-md-4 gallery-item">
          <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal3">
            <img src="images/art3.jpg" class="img-fluid" alt="Bust up head shot art 3 by Qingzi">
          </a>
        </div>

        <!-- Image 4 -->
        <div class="col-md-4 gallery-item">
          <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal4">
            <img src="images/art4.jpg" class="img-fluid" alt="Bust up head shot art 4 by Qingzi">
          </a>
        </div>

        <!-- Image 5 -->
        <div class="col-md-4 gallery-item">
          <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal5">
            <img src="images/art5.jpg" class="img-fluid" alt="Bust up head shot art 5 by Qingzi">
          </a>
        </div>

        <!-- Image 6 -->
        <div class="col-md-4 gallery-item">
          <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal6">
            <img src="images/art6.jpg" class="img-fluid" alt="Bust up head shot art 6 by Qingzi">
          </a>
        </div>
      </div>
    </div>

    <!-- Modal for Image 1 -->
    <div class="modal fade" id="imageModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-fullscreen">
        <div class="modal-content">
          <div class="modal-body">
            <img src="images/art1.jpg" class="img-fluid" alt="Bust up head shot art 1 by Qingzi">
            <button type="button" class="btn-close position-absolute top-0 end-0 m-4" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for Image 2 -->
    <div class="modal fade" id="imageModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-fullscreen">
        <div class="modal-content">
          <div class="modal-body">
            <img src="images/art2.jpg" class="img-fluid" alt="Bust up head shot art 2 by Qingzi">
            <button type="button" class="btn-close position-absolute top-0 end-0 m-4" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for Image 3 -->
    <div class="modal fade" id="imageModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-fullscreen">
        <div class="modal-content">
          <div class="modal-body">
            <img src="images/art3.jpg" class="img-fluid" alt="Bust up head shot art 3 by Qingzi">
            <button type="button" class="btn-close position-absolute top-0 end-0 m-4" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for Image 4 -->
    <div class="modal fade" id="imageModal4" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-fullscreen">
        <div class="modal-content">
          <div class="modal-body">
            <img src="images/art4.jpg" class="img-fluid" alt="Bust up head shot art 4 by Qingzi">
            <button type="button" class="btn-close position-absolute top-0 end-0 m-4" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for Image 5 -->
    <div class="modal fade" id="imageModal5" tabindex="-1" aria-labelledby="exampleModalLabel5" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-fullscreen">
        <div class="modal-content">
          <div class="modal-body">
            <img src="images/art5.jpg" class="img-fluid" alt="Bust up head shot art 5 by Qingzi">
            <button type="button" class="btn-close position-absolute top-0 end-0 m-4" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for Image 6 -->
    <div class="modal fade" id="imageModal6" tabindex="-1" aria-labelledby="exampleModalLabel6" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-fullscreen">
        <div class="modal-content">
          <div class="modal-body">
            <img src="images/art6.jpg" class="img-fluid" alt="Bust up head shot art 6 by Qingzi">
            <button type="button" class="btn-close position-absolute top-0 end-0 m-4" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>
      </div>
    </div>
    
    



  <!--Carasoul for desktop wall paper-->
  <h2 class="text-center">Desk Wallpaper Gallery</h2>
  <div class="container">
    <div class="gallery-text-box">
      <p> These are examples of wallpaper comissions I have done. </p>
      <p> Standard size: 5100px x 2800px</p>
    </div>
  </div>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="images/wallpaper1.jpg" class="d-block w-100" alt="Slide 1">
      </div>
      <div class="carousel-item">
        <img src="images/wallpaper4.jpg" class="d-block w-100" alt="Slide 2">
      </div>
      <div class="carousel-item">
        <img src="images/wallpaper3.jpg" class="d-block w-100" alt="Slide 3">
      </div>
      <div class="carousel-item">
        <img src="images/paper4.jpg" class="d-block w-100" alt="Slide 4">
      </div>
      <div class="carousel-item">
        <img src="images/paper5.jpg" class="d-block w-100" alt="Slide 5">
      </div>
      <div class="carousel-item">
        <img src="images/paper6.jpg" class="d-block w-100" alt="Slide 6">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  
  <br>
  <h2 class="text-center"> Iphone Wallpaper </h2>
  <div class="container">
    <div class="gallery-text-box">
      <p> These are examples of Iphone wallpaper comissions I have done. </p>
      <p> Standard size: 2800px x 5100px</p>
    </div>
  </div>

  <div class="container iphone-container">
    <div class="iphone-item">
      <img src="images/iphone1.jpg" alt="Image 1">
    </div>
    <div class="iphone-item">
      <img src="images/iphone2.jpg" alt="Image 2">
    </div>
    <div class="iphone-item">
      <img src="images/iphone3.jpg" alt="Image 3">
    </div>
    <div class="iphone-item">
      <img src="images/iphone4.jpg" alt="Image 4">
    </div>
    <div class="iphone-item">
      <img src="images/iphone5.jpg" alt="Image 5">
    </div>
    <div class="iphone-item">
      <img src="images/iphone6.jpg" alt="Image 6">
    </div>
  </div>

  <br>


</body>

<%- include('footer'); -%>