<%- include('header'); -%>
<hr>
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center sticky-top">
   <ul class="navbar-nav justify-content-center">
       <li class="nav-item"><a href="/" class="nav-link ">Home</a></li>
       <li class="nav-item"><a href="/gallery" class="nav-link">Gallery</a></li>
       <li class="nav-item"><a href="/guide" class="nav-link">Commission Guide</a></li>
       <li class="nav-item"><a href="/price" class="nav-link">Commission Price</a></li>
       <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
     </ul>
</nav>
<hr>

<div class="position-relative overflow-hidden p-2 p-md-2 m-md-2 text-center bg-light">
    <div class="col-md-5  mx-auto ">
      <h1 class="display-4 font-weight-normal">Commissioned Art</h1>
      <p class="lead font-weight-normal">Art Commission Prices</p>
  
    </div>
   
  </div>
  <br>


  <div class="container-flex ">
    <div class="row ">
        <div class="col ">
           
            <div class=" mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="background-color: #f5f0ff;">
            <div class="my-3 py-3">
                <h2 class="display-5">Bust Up Portrait</h2>
               
                    <p class="lead"><strong>Price:</strong> $150 USD</p>
                    
                    <p class="lead"><strong>Rush Commission:</strong> x1.5 of the base price <br>
                    (Guaranteed finish within 2 weeks)</p>
                    
                    <p class="lead"><strong>Extra Fee for Complicated Characters:</strong> $30</p>
                    
                    <p class="lead"><strong>Background:</strong> Simple background will be included.<br>
                    If you request a specific background, an extra cost will apply: $10-20 depending on complexity.</p>
                
            </div>
           


            <div class="bg-light box-shadow mx-auto" style="width: 95%; border-radius: 21px 21px 0 0; overflow: hidden;">
                <img src="/images/head1.png" alt="Image 1" style="float: left; width: 50%; height: 50%;">
                <img src="/images/head3.png" alt="Image 2" style="float: left; width: 50%; height: 50%;">
                <img src="/images/head2.png" alt="Image 3" style="float: left; width: 50%; height: 50%;">
                <img src="/images/head4.png" alt="Image 4" style="float: left; width: 50%; height: 50%;">
              </div>
              <br>
              <br>
              <br>
              <br>
            </div>
            </div>
   
            <div class="col  ">
            
                <div class=" mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="background-color: #fff0fc;">
                    <div class="my-3 p-3">
                    <h2 class="display-5">Wallpaper</h2>
                    <p><strong>Price:</strong> $420+ USD</p>
    
                    <p><strong>Rush Commission:</strong> x1.5 of the base price <br>
                    (Guaranteed finish within 2 weeks)</p>
                    
                    <p><strong>Extra Fee for Complicated Characters:</strong> $40</p>
                    
                    <p><strong>Body Proportion:</strong> Ranges from thighs to feet depending on the pose.<br>
                    Include a pose reference if you have a preference for one.</p>
                    
                    <p><strong>Background:</strong> Simple background is included by my choice unless specified.<br>
                    If you request a specific or detailed background, there will be an extra cost of $30-40 depending on complexity.</p>

                </div>

                 <div class="bg-dark box-shadow mx-auto" style="width: 95%; border-radius: 21px 21px 0 0; overflow: hidden;">
                 <img src="/images/wall1.png" alt="Image 1" style="float: left; width: 50%; height: 100%;">
                 <img src="/images/wall2.png" alt="Image 2" style="float: left; width: 50%; height: 100%;">
                 </div>

                 <br> 
                 <br> 
                 <br>
                
            </div>
                
            </div>
            </div>


            <br>
            <br>

 <div class="container-flex ">
    <div class="row ">
        <div class="col ">
           
            <div class=" mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="background-color: #fffbf0;">
            <div class="my-3 py-3">
                <h2 class="display-5">Character Design</h2>
               
                    <p class="lead"><strong>Price:</strong> $300 USD</p>
                    
                    <p class="lead"><strong>Rush Commission:</strong> x1.5 of the base price <br>
                    (Guaranteed finish within 2 weeks)</p>
                    
                    <p class="lead"><strong>Extra Fee for Complicated Characters:</strong> Depending on complexity</p>
                    
                  
                
            </div>
           


            <div class="bg-light box-shadow mx-auto" style="width: 95%; border-radius: 21px 21px 0 0; overflow: hidden;">
                <img src="/images/char.png" alt="Image 1" style="float: left; width: 100%; height: 100%;">
                
               
              </div>
              <br>
             
              <br>
              <br>
            </div>
            </div>
   
            <div class="col  ">
            
                <div class=" mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="background-color: #f1fff0;">
                    <div class="my-3 p-3">
                    <h2 class="display-5">Desktop Wallpaper</h2>
                    <p><strong>Price:</strong> $500+ USD</p>
    
                    <p><strong>Rush Commission:</strong> x1.5 of the base price <br>
                    (Guaranteed finish within 2 weeks)</p>
                    
                    <p><strong>Extra Fee for Complicated Characters:</strong> $40</p>
                    
                    <p><strong>Body Proportion:</strong> Ranges from thighs to feet depending on the pose.<br>
                    Include a pose reference if you have a preference for one.</p>
                    
                    <p><strong>Background:</strong> Simple background is included by my choice unless specified.<br>
                    If you request a specific or detailed background, there will be an extra cost of $30-40 depending on complexity.</p>

                </div>

                 <div class="bg-dark box-shadow mx-auto" style="width: 95%; border-radius: 21px 21px 0 0; overflow: hidden;">
                 <img src="/images/desk1.png" alt="Image 1" style="float: left; width: 100%; height: 50%;">
                 <img src="/images/desk2.png" alt="Image 2" style="float: left; width: 100%; height: 50%;">
                 </div>

                 <br> 
                 <br> 
                 <br>
                
            </div>
                
            </div>
            </div>
            <br>
            <br>

 <%- include('footer'); -%>